@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Noto Serif', serif;
}

header label
{
    cursor: pointer;
    font-size: 30px;
}

.nav
{
    background: #000000;
    height: 80px;
    color: rgb(255, 255, 255); 
    
}
.nav ul
{
    color: black;
    display: flex;
    list-style: none;
    
}
.nav ul ul a
{      
    padding: 5px 5px 5px 5px;
   
}
.nav ul ul
{
    
    padding: 10px;
    display: none;
    background:white ;       
    border-radius: 3px;
    border: 3px solid #000;
}
.nav_menu .sub 
{
    
    /*top: 60px;*/
}
.sub a
{
    color: black;    
}
.sub
{
    margin-left: -11px;    
}
.nav_cont
{
    
    display: flex;
    height: 100%;
    width: 90%;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.nav_logo img
{
    max-width: 208px;
    padding: 10px 10px 10px 10px;
    font-weight: 900;
}
.nav_menu
{
    
    display: grid;    
    gap:3em ;
    list-style: none;    
}
.nav_item
{
    
    color: #fff;
    text-decoration: none;   
}
.nav ul li:hover ul
{   
        
    display: block;
    position: absolute; 
    top: 62px;   
    color: black;
} 
.nav  li:hover
{   
        
    background: #12C6BB;   
}
.nav li
{       
    padding: 10px;    
    border-radius: 3px ; 
}
.sub li
{            
    left: 30px;
    margin: 4px;
    background: #fff;
    padding: 10px 10px 10px 0px;
    border: 2.7px solid black;
    border-radius: 3px ;
}

/*vista de cel*/
.nav_input:checked 
{       
    background: #088dc2;
}
.nav_label, .nav_input
{   
    display: none;
}

@media (max-width:768px )
{
    .nav_item
    {
        color: rgb(0, 0, 0);
        
    }
    .nav_label
    {
        display: block;
        cursor: pointer;
    }    
    .nav_menu
    {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: rgb(135, 235, 235);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }   
    .nav_input:checked + .nav_menu
    {
        clip-path: circle(100% at center);
    }
    .nav ul li:hover ul
    {
        display: none;
        color: black;
    }

    main div img 
    {
        background-color: #000000;
        height: 100%px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        /*align-items: center;*/
        
    }

}































