@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
.menu
{
    background-color: #000000;
    height: 180px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgb(0, 0, 0);
}
.logo
{
    background: rgba(0, 0, 0, 0);        
    padding: 5px 30px;
    font-weight: bold;
}
.menu_items
{
    display: flex;
    list-style: none;
    margin-right: -10px;
}
.menu_items li 
{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a 
{
    padding: 7px 13px;
    text-decoration:none;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li.active
{
    background: #12c6ba;
    transition: .4s; 
    color: #000000;  
}
.btn_menu
{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show
{
    top: 65px;    
}
@media screen and (max-width: 952px)
{
    .logo
    {
        font-size: 30px;
        padding-left:35px ;
    }
    .menu_items li a
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 858px)
{
    .menu
    {
        background-color: #000000;
        height: 90px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgb(0, 0, 0);
    }
    .btn_menu
    {
        display: inline-flex;
    }
    .menu_items
    {
        margin-top: 34px;
        padding: 15px;
        position: fixed;
        width:100vw;
        height: calc(100% - 100px);
        background: #414141;
        top: -5000vw;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li 
    {
        margin: 30px 0 0 0;
        line-height: 40px;
    }
    .menu_items li:hover
    {
        background: none;
    }
    .menu_items li a 
    {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover
    {
        color: #e9183b;
    }
    .logo img
    {
        width:300px;             
        padding: 0px 40px;
        font-weight: bold;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) 
{
    .menu_items li 
    {
        margin: 5px 0 0 0;
    }
    .menu_items
    {
        overflow: scroll;
        height: calc(100%-65px);
    }
}
@media screen and (max-width: 600px)
{
    .menu
    {
        background-color: #000000;
        height: 90px;
        width: 104vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgb(0, 0, 0);
    }
}



@media screen and (min-width: 412px)  
{
    .menu
    {
        background-color: #000000;
        height: 90px;
        width: 142vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgb(0, 0, 0);
    } 
}
/*
@media screen and (min-width: 66px)  
{
    .menu
    {
        height: 65px;
    }
    .btn_menu
    {
        display: inline-flex;
    }
    .menu_items
    {
        margin-top: 34px;
        padding: 15px;
        position: fixed;
        width:100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -5000vw;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li 
    {
        margin: 30px 0 0 0;
        line-height: 40px;
    }
    .menu_items li:hover
    {
        background: none;
    }
    .menu_items li a 
    {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover
    {
        color: #e9183b;
    }
    .logo img
    {
        width:300px;             
        padding: 0px 40px;
        font-weight: bold;
    }
}*/






























/* "AQUI EMPIEZA TODO EL CONTENIDO DEL MAIN" */
.title
{
    text-align: center;    
}
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../image/imageParallax/tigre.jpg);
    width: 100%;
    height: 200px;
}
